<ul id="menu">
    <li>
        <img [routerLink]="['/']" src="../assets/logo.png" class="img-nav" />
    </li>
    <li><a [routerLink]="['/']" class="site-name">CPUBENCH</a></li>
    <li><a [routerLink]="['list']">List of CPUs</a></li>
    <li><a [routerLink]="['comparator']">Compare CPUs</a></li>
    <li>
        <a href="https://github.com/AlasDiablo/Projet-Web-Angular" target="_blank"
            ><i class="fa fa-github github-icon"></i
        ></a>
    </li>
</ul>
<router-outlet></router-outlet>
