@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:host {
    --gray : #c9c9c9;
    --light-gray : #f9f9f9;
    --dark-gray : #383838;
    --title-color : #322585;
    --bg : #eeeeee;
    --text : #333333;
    --hover : #8ccf26;
}

.site-name {
  font-family: 'Press Start 2P', cursive;
  font-size: x-large;
  margin-right: 50px;
  margin-top: 7px;
}

.img-nav{
    width: 50px;
    margin-left: 200px;
    margin-top: 5px;
}

.github-icon {
  float: right;
  font-size: x-large;
}

.img-nav:hover {
    cursor: pointer;
}

ul {
  padding: 5px;
    display: flex;
    list-style-type: none;
    font-weight: 700;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: var(--gray);
    font-size: 18px;
    margin-top: 3px;
  }
  
  #menu {
    display: flex;
    background: var(--dark-gray);
  }
  
  #menu a {
    display: block;
  }
  
  #menu > li > a {
    padding: 1rem;
  }
  
  #menu li:hover > a {
    color: var(--hover);
  }
  
  #menu li:hover .hidden {
    display: block;
  }
  
  .hidden {
    display: none;
    background: rgb(53, 53, 53);
    position: absolute;
    width: auto;
  }
  
  .hidden li a {
    padding: 0.6rem;
    border-bottom: 1px solid black;
  }
  