<section class="hero">
    <header id="header"></header>
    <header class="hero-header">
        <h1 class="hero-title">The Best CPU Benchmarker!!</h1>
    </header>
    <footer class="hero-footer">
        <a class="button" href="https://github.com/AlasDiablo/Projet-Web-Angular" target="_blank">Source code</a>
    </footer>
</section>
<article>
    <h2>Project at The University of Lorraine</h2>
    <p>
        This project is part of the Final Exam of the module "Les Nouvelles
        Technologies du Web".
    </p>
    <p>
        The purpose of this Web Applicaiton is to manage CPUs. It's developped
        using Angular in the Front-end and Nest.js in the Back-end, with MongoDB
        as database.
    </p>
    <p>
        The application allows to add a new CPU, list, modify, delete and search
        for CPUs. It also allows to compare two CPUs, giving results in
        percentages and in the form of graphs.
    </p>
</article>
