:host {
    --gray : #e6e5e5;
    --light-gray : #f9f9f9;
    --dark-gray : #7a7979;
    --title-color : #322585;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    
}

.container-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

img {
    height: auto;
    width: 150px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

span {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    justify-items: start;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    /*border: 2px solid var(--gray);*/
    width: 650px;
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;
    background: var(--light-gray);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}

.card-content-title {
    font-weight: 700;
    font-size: large;
    color: var(--title-color);
    border: none;
}

.trash{
    color: var(--title-color);
    background: var(--gray);
    padding: 3px;
    border-radius: 50%;
    /*margin-left: 200px;*/
    place-self: start end ;
}

.trash:hover {
    opacity: 0.7;
    cursor: pointer;
}

p{
    border-bottom: 2px solid var(--gray);
    padding-bottom: 5px;
}

.add-button {
    margin-top: 10px;
    background: var(--title-color);
}

.add-button:hover {
    opacity: 0.7;
}

/** Search ***/

.instant-search {
    position: relative;
    width: 350px;
  }
  
  .instant-search,
  .instant-search__input {
    font-family: sans-serif;
  }
  
  .instant-search,
  .instant-search * {
    transition: background 0.15s, box-shadow 0.15s;
  }
  
  .instant-search:focus-within {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  .instant-search--loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #009578;
    border-radius: 5px;
    animation: searchIndicator 0.5s infinite ease-in-out;
  }
  
  @keyframes searchIndicator {
    0% {
      width: 15%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 15%;
    }
  }
  
  .instant-search,
  .instant-search__input-container {
    border-radius: 5px;
  }
  
  .instant-search__input-container {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    background: #eeeeee;
  }
  
  .instant-search__input-container:focus-within {
    background: #ffffff;
  }
  
  .instant-search__input {
    flex-grow: 1;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 6px;
    background: transparent;
  }
  
  .instant-search__results-container {
    max-height: 250px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s;
  }
  
  .instant-search__results-container--visible {
    visibility: visible;
    opacity: 1;
  }
  
  .instant-search__result {
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
  }
  
  .instant-search__icon {
     margin: 5px;
  }
  
  .instant-search__result:hover {
    background: #eeeeee;
  }
  
  .instant-search__result:not(:last-of-type) {
    border-bottom: 1px solid #eeeeee;
  }
  
  .instant-search__title {
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .instant-search__paragraph {
    line-height: 1.5;
    margin: 8px 0;
  }

  /* Add Button */
  .btn {
    border-radius: 15px;
    margin-left: 5px;
    background-color: #eeeeee; 
    border: none; 
    color: #333333; 
    padding: 14px; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .icon-btn-add {
    margin-top: 2px;
    margin-right: 7px;
  }
