<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-list"> 
    <section class="buttons-fab" *ngIf="dialogStatus === 'inactive'">
        <div id="searchUsers" class="instant-search">
            <div class="instant-search__input-container">
              <input matInput [(ngModel)]="keyword" (ngModelChange)="changeKeyword($event)" class="instant-search__input"  placeholder="Search Cpus">
              <i class="material-icons instant-search__icon">search</i>
            </div>
          </div>
        <button (click)="showDialog()" class="btn"><i class="fa fa-plus icon-btn-add"></i>Add new CPU</button>

    </section>
    
    <div *ngFor="let cpu of cpus;index as i">
        <div class="card">
            <img src="{{cpu.image || cpu.brand}}"  alt="cpu image"/>
            <div class="card-content">
                <div class="card-buttons">
                    <p class="card-content-title">{{cpu.name}} &nbsp;{{cpu.brand}}</p>
                    <div class="icons">
                        <mat-icon [routerLink]="['/edit', cpu._id]" class="icon edit">edit</mat-icon>
                        <mat-icon (click)="delete(i)" class="icon trash">delete</mat-icon>
                    </div>
                </div>
                <span>
                    <p><b>Physical Cores :</b>&nbsp;&nbsp;{{cpu.core.physical}}</p>
                    <p><b>Thread Cores :</b>&nbsp;&nbsp;{{cpu.core.thread}}</p>
                </span>
                <span>
                    <p><b>Base Frequency :</b>&nbsp;&nbsp;{{cpu.frequency.base}}&nbsp;Ghz</p>
                    <p><b>Turbo Frequency :</b>&nbsp;&nbsp;{{cpu.frequency.turbo}}&nbsp;Ghz</p>
                </span>
            </div>
        </div>
    </div>
</div>    
