<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngFor="let cpu of cpus;index as i">
    <div class="card">
        <img src="{{cpu.image || cpu.brand}}" />
        <div class="card-content">
            <div class="card-buttons">
                <p class="card-content-title">{{cpu.name}} &nbsp;{{cpu.brand}}</p>
                <mat-icon (click)="delete(i)" class="trash">delete</mat-icon>
            </div>
            <span>
                <p><b>Coeurs Physiques :</b>&nbsp;&nbsp;{{cpu.core.physical}}</p>
                <p><b>Coeurs Logiques :</b>&nbsp;&nbsp;{{cpu.core.thread}}</p>
            </span>
            <span>
                <p><b>Fréquence de base :</b>&nbsp;&nbsp;{{cpu.frequency.base}}&nbsp;Ghz</p>
                <p><b>Fréquence de turbo :</b>&nbsp;&nbsp;{{cpu.frequency.turbo}}&nbsp;Ghz</p>
            </span>
            
            
        </div>
    </div>
</div>
