<h2 mat-dialog-title *ngIf="isUpdateMode">Update {{ form.get('brand')?.value }} {{ form.get('name')?.value }}</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Create a new cpu</h2>

<mat-dialog-content>
    <form novalidate [formGroup]="form">

        <p *ngIf="isUpdateMode">
            <span style="width: 100%">ID (disabled)</span>
            <span style="width: 100%">{{ model._id }}</span>
        </p>

        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <!-- Cpu name -->
                    <mat-form-field class="full-width" [class.ngb15]="form.get('name')?.dirty && form.get('name')?.invalid">
                        <input matInput placeholder="Name" formControlName="name" minlength="2" required name="name">
                        <mat-error *ngIf="form.get('name')?.dirty && form.get('name')?.hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="form.get('name')?.dirty && form.get('name')?.hasError('minlength')">
                            Name is <strong>2 chars min</strong>
                        </mat-error>
                    </mat-form-field>
                    <!-- Cpu brand -->
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Brand" formControlName="brand" minlength="2" required name="brand">
                        <mat-error *ngIf="form.get('brand')?.dirty && form.get('brand')?.hasError('required')">
                            Brand is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="form.get('brand')?.dirty && form.get('brand')?.hasError('minlength')">
                            Brand is <strong>2 chars min</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
                <!-- Cpu Image -->
                <td class="align-right">
                    <img *ngIf="form.get('image')?.value" class="img-choose" width="112" [src]="form.get('image')?.value" id="imageDisplay" alt="cpu image" (click)="imageInput.click()">
                    <img *ngIf="!form.get('image')?.value" class="img-choose" width="112" src="../../../assets/no-image.jpg" id="imageDisplay" alt="cpu image" (click)="imageInput.click()">
                    <input hidden class="input-photo" (change)="onImageChange()" #imageInput type="file" name="image" id="image">
                </td>
            </tr>
        </table>

        <p>
            <mat-form-field class="full-width">
                <input matInput placeholder="Architecture (list with ' , ' as separator)" formControlName="architecture" required name="architecture">
            </mat-form-field>
        </p>

        <!-- Cpu Core -->
        <table formGroupName="core">
            <tr>
                <!-- Cpu Core Physical -->
                <td>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Physical Cores" formControlName="physical" required name="physical">
                        <mat-error *ngIf="form.get('core')?.get('physical')?.dirty && form.get('core')?.get('physical')?.hasError('required')">
                            Brand is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
                <!-- Cpu Core Thread -->
                <td>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Thread Cores" formControlName="thread" required name="thread">
                        <mat-error *ngIf="form.get('core')?.get('thread')?.dirty && form.get('core')?.get('thread')?.hasError('required')">
                            Brand is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <!-- Cpu Frequency -->
        <table formGroupName="frequency">
            <tr>
                <!-- Cpu Frequency Base -->
                <td>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Base Frequency (Frequency in MHz)" formControlName="base" required name="base">
                        <mat-error *ngIf="form.get('frequency')?.get('base')?.dirty && form.get('frequency')?.get('base')?.hasError('required')">
                            Brand is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
                <!-- Cpu Frequency Turbo -->
                <td>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Turbo Frequency (Frequency in MHz)" formControlName="turbo" name="turbo">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <mat-form-field class="full-width">
                <input matInput placeholder="Cache (list with ' , ' as separator, cache value in Ko/KB) " formControlName="cache" required name="cache">
                <mat-error *ngIf="form.get('cache')?.dirty && form.get('cache')?.hasError('required')">
                    Brand is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button type="button" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
